/* ===== common page layout ===== */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background-image: url("../../../IndexImage/image/edu.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* ===== register box ===== */
.signup-box {
    width: 380px;

    padding-top: 32px;
    padding-right: 47px;
    padding-bottom: 32px;
    padding-left: 32px;

    background-color: rgba(190, 220, 130, 0.88);
    border-radius: 16px;

    box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
}

/* ===== heading ===== */
.signup-box h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 18px;
}

/* ===== labels ===== */
.signup-box label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

/* ===== inputs, select, textarea ===== */
.signup-box input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;

    border: none;
    border-radius: 6px;
    font-size: 14px;
}

.signup-box select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;

    border: none;
    border-radius: 6px;
    font-size: 14px;
}

.signup-box textarea {
    width: 100%;
    height: 55px;
    padding: 8px;
    margin-top: 4px;

    border: none;
    border-radius: 6px;
    resize: none;
    font-size: 14px;
}

/* ===== button ===== */
.signup-box button {
    width: 100%;
    padding: 10px;
    margin-top: 18px;

    background-color: #00897b;
    color: white;

    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.signup-box button:hover {
    background-color: #00695c;
}

/* ===== error message ===== */


.error {
    color: red;
    font-size: 13px;
    text-align: center;
    margin-bottom: 8px;
}

/* ===== small email message ===== */
#emailMsg {
    font-size: 12px;
}

/* ===== login link ===== */
.login-link {
    text-align: center;
    margin-top: 12px;
    font-size: 13px;
}

.login-link a {
    color: purple;
    text-decoration: none;
}
