html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('/Final_WT/Online_Quiz_System/IndexImage/image/edu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: blue;
    text-align: center;
    font-size: 48px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;

    border-radius: 5px;
   

}
table {
    margin: auto; 
    text-align: center; 
}

td {
    padding: 10px;
}
